<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table style="border: 1px solid black;" id="list_table_json">
    <thead>
        <tr>
            <h1>Rental Details for customer with ID <span id="customer_id"> {{ customer_id }}</span></h1>
            <th>Rental Date</th>
            <th>Rental Duration (Days)</th>
            <th>Rental Cost ($)</th>
        </tr>
    </thead>
</table>
<script src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"></script>

<script type="text/javascript">

    var id_span = document.getElementById( 'customer_id' );
    var cust_id = id_span.textContent.replace(" ", "");
    var ajax_url = "api/customers/" + cust_id
    console.log(ajax_url)

    $.ajax({
        url: "/api/customers/" + cust_id,
        dataType: 'json',
        type: 'get',
        cache: false,
        success: function(data){
            console.log(data);
            var customer_rental_data = '';
            $.each(data, function(index, value){
                console.log(value);
                customer_rental_data += '<tr>';
                customer_rental_data += '<td>'+value.rental_date+'</td>';
                customer_rental_data += '<td>'+value.rental_duration+'</td>';
                customer_rental_data += '<td>'+value.rental_cost+'</td>';
                customer_rental_data += '</tr>';
            });
            $("#list_table_json").append(customer_rental_data);
        },
        error: function(d){
            console.log(d);
        }
    });
</script>

</body>
</html>